<div
  class="pensamento {{ pensamento.modelo }} ff-rotboto-mono "
  [ngClass]="larguraPensamentos()"
>
  <img
    src="../../../../assets/{{ pensamento.modelo }}.png"
    alt="aspas colorida"
  />
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="conteudo">
    <b>{{ pensamento.autoria }}</b>
  </p>
  <div class="acoes">
    <button class="botao-editar">
      <img
        src="../../../../assets/icone-editar.png"
        routerLink="/pensamentos/editarPensamento/{{ pensamento.id }}"
      />
    </button>
    <button
      class="botao-excluir"
      routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}"
    >
      <img src="../../../../assets/icone-excluir.png" alt="" />
    </button>
  </div>
</div>
